<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-compte-bancaire-heading" data-cy="CompteBancaireCreateUpdateHeading">Create or edit a Compte Bancaire</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numero">Numero</label>
          <input type="text" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
          <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('numero')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_solde">Solde</label>
          <input type="text" class="form-control" name="solde" id="field_solde" data-cy="solde" formControlName="solde" />
          <div *ngIf="editForm.get('solde')!.invalid && (editForm.get('solde')!.dirty || editForm.get('solde')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('solde')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_titulaire">Titulaire</label>
          <select
            class="form-control"
            id="field_titulaire"
            data-cy="titulaire"
            name="titulaire"
            formControlName="titulaire"
            [compareWith]="compareClientBanque"
          >
            <option *ngIf="!editForm.get('titulaire')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="clientBanqueOption" *ngFor="let clientBanqueOption of clientBanquesSharedCollection">
              {{ clientBanqueOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['titulaire'])!.invalid && (editForm.get(['titulaire'])!.dirty || editForm.get(['titulaire'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['titulaire'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
