<div>
  <h2 id="page-heading" data-cy="VirementBancaireHeading">
    <span>Virement Bancaires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-virement-bancaire"
        [routerLink]="['/virement-bancaire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Virement Bancaire </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="virementBancaires?.length === 0">
    <span>No Virement Bancaires found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="virementBancaires && virementBancaires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateVirement">
            <div class="d-flex">
              <span>Date Virement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montant">
            <div class="d-flex">
              <span>Montant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="compteSource.id">
            <div class="d-flex">
              <span>Compte Source</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="compteDestination.id">
            <div class="d-flex">
              <span>Compte Destination</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let virementBancaire of virementBancaires; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/virement-bancaire', virementBancaire.id, 'view']">{{ virementBancaire.id }}</a>
          </td>
          <td>{{ virementBancaire.dateVirement | formatMediumDatetime }}</td>
          <td>{{ virementBancaire.montant }}</td>
          <td>
            <div *ngIf="virementBancaire.compteSource">
              <a [routerLink]="['/compte-bancaire', virementBancaire.compteSource.id, 'view']">{{ virementBancaire.compteSource.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="virementBancaire.compteDestination">
              <a [routerLink]="['/compte-bancaire', virementBancaire.compteDestination.id, 'view']">{{
                virementBancaire.compteDestination.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/virement-bancaire', virementBancaire.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/virement-bancaire', virementBancaire.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(virementBancaire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="virementBancaires && virementBancaires.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
