<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-virement-bancaire-heading" data-cy="VirementBancaireCreateUpdateHeading">Create or edit a Virement Bancaire</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateVirement">Date Virement</label>
          <div class="d-flex">
            <input
              id="field_dateVirement"
              data-cy="dateVirement"
              type="datetime-local"
              class="form-control"
              name="dateVirement"
              formControlName="dateVirement"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
          <div *ngIf="editForm.get('montant')!.invalid && (editForm.get('montant')!.dirty || editForm.get('montant')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('montant')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('montant')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_compteSource">Compte Source</label>
          <select
            class="form-control"
            id="field_compteSource"
            data-cy="compteSource"
            name="compteSource"
            formControlName="compteSource"
            [compareWith]="compareCompteBancaire"
          >
            <option *ngIf="!editForm.get('compteSource')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="compteBancaireOption" *ngFor="let compteBancaireOption of compteBancairesSharedCollection">
              {{ compteBancaireOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['compteSource'])!.invalid && (editForm.get(['compteSource'])!.dirty || editForm.get(['compteSource'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['compteSource'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_compteDestination">Compte Destination</label>
          <select
            class="form-control"
            id="field_compteDestination"
            data-cy="compteDestination"
            name="compteDestination"
            formControlName="compteDestination"
            [compareWith]="compareCompteBancaire"
          >
            <option *ngIf="!editForm.get('compteDestination')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="compteBancaireOption" *ngFor="let compteBancaireOption of compteBancairesSharedCollection">
              {{ compteBancaireOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['compteDestination'])!.invalid &&
            (editForm.get(['compteDestination'])!.dirty || editForm.get(['compteDestination'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['compteDestination'])?.errors?.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
