<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="compteBancaire">
      <h2 data-cy="compteBancaireDetailsHeading"><span>Compte Bancaire</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ compteBancaire.id }}</span>
        </dd>
        <dt><span>Numero</span></dt>
        <dd>
          <span>{{ compteBancaire.numero }}</span>
        </dd>
        <dt><span>Solde</span></dt>
        <dd>
          <span>{{ compteBancaire.solde }}</span>
        </dd>
        <dt><span>Titulaire</span></dt>
        <dd>
          <div *ngIf="compteBancaire.titulaire">
            <a [routerLink]="['/client-banque', compteBancaire.titulaire.id, 'view']">{{ compteBancaire.titulaire.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/compte-bancaire', compteBancaire.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
