<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="clientBanque">
      <h2 data-cy="clientBanqueDetailsHeading"><span>Client Banque</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ clientBanque.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ clientBanque.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ clientBanque.lastName }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ clientBanque.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/client-banque', clientBanque.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
