<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="virementBancaire">
      <h2 data-cy="virementBancaireDetailsHeading"><span>Virement Bancaire</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ virementBancaire.id }}</span>
        </dd>
        <dt><span>Date Virement</span></dt>
        <dd>
          <span>{{ virementBancaire.dateVirement | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Montant</span></dt>
        <dd>
          <span>{{ virementBancaire.montant }}</span>
        </dd>
        <dt><span>Compte Source</span></dt>
        <dd>
          <div *ngIf="virementBancaire.compteSource">
            <a [routerLink]="['/compte-bancaire', virementBancaire.compteSource.id, 'view']">{{ virementBancaire.compteSource.id }}</a>
          </div>
        </dd>
        <dt><span>Compte Destination</span></dt>
        <dd>
          <div *ngIf="virementBancaire.compteDestination">
            <a [routerLink]="['/compte-bancaire', virementBancaire.compteDestination.id, 'view']">{{
              virementBancaire.compteDestination.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/virement-bancaire', virementBancaire.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
